*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position:sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style:none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    margin: 0px 15px;
    padding: 8px 15px;
    color: white;
    transition: all 0.5s ease;
}
.navbar ul li a:hover{
    box-shadow:0 0 10px white;
    border-radius: 25px;
}
#home{
    display: flex;
    flex-direction: column;
    background-color:rgba(0,0,0,0.5);
    height: 845px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS_wNyAoku8qVKIEecw0K4dyFa8RYSPUhzAxI4SdyO5Yxx_DH5F") no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
}
#home i{
    font-size: 1rem;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:40%;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.but{
    font-family: century;
    padding:10px 35px;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    transition: 0.6s ease;
}
.but:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 15px white;
    border-radius: 15px;
    font-weight: bold;
}
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    height: 900px;
    background-color: rgba(240, 210, 210, 0.5);
}
.pic{
    display: flex;
}
.pic img{
   height: 400px;
   width: 575px;
}
#intro{
    display: flex;
    flex-direction: column;
    padding:10px;
    text-align: justify;
}
#intro h2{
    font-family: century;
    font-size: 2rem;
    margin-bottom: 20px;
}
#skills{
    background-color: rgba(145, 196, 156, 0.5);
    height: 900px;
    padding: 20px;
}
#skills h2{
    margin: 50px;
    padding:20px;
    font-weight: bold;
    font-size:xx-large;
    color: rgba(2, 46, 49, 0.747);
}
.skills_design{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.sk{
    display: flex;
    width:60%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: relative;
    padding:10px;
    margin-bottom:15px;
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(0,0,0,0.4);
}
.icon{
    font-size: 1.7rem;
    color: rgba(6, 107, 102, 0.952);
    margin-right: 5px;
}
.sk_name{
    display: flex;
    align-items: center;
}
.sk_bar{
    position:absolute;
    left: 0;
    bottom: 0;
    background-color:  rgba(6, 107, 102, 0.952);
    height: .25rem;
    border-radius: .5rem;
}
.html{
    width: 80%;
}
.css{
    width: 75%;
}
.js{
    width:40%;
}
.java{
    width:70%;
}


#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    height: 900px;
}
#form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    margin: 15px;
    padding: 10px;
    width: 30%;
    outline: none;
    border-radius: 5px;
}
#msg{
    width: 30%;
    padding: 12px;
    margin: 15px;
    outline:none;
    border-radius: 5px;
}
#send{
    width:15%;
    padding: 10px;
    outline: none;
    border:none;
    border-radius: 15px;
}
#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
    border-radius: 15px;
}
.link{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.link a{
    padding: 8px;
    margin:4px;
    font-size: 1rem;
    color: black;
    border:1px solid white;
    border-radius: 9px;
    background-color:rgb(157, 218, 233) ;
}
.link a:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}
.or{
    display:flex ;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: black;
}
